{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
<h1 class="detail">{{ post.title }}</h1>
<br>
<h3 class="detail">Topic: {{ post.subtitle }}</h3>
<br>
<p class="detail">{{ post.body }}</p>
<small class="detail">Created on: {{ post.created_on }} | By: {{ post.author }}</small>
{% if user.is_authenticated %}
<p class="detail">
    <a class="detail" href="{% url 'post_edit' post.id %}">Edit Post</a>  |  
    <a class="detail" href="{% url 'post_delete' post.id %}">Delete Post</a>
</p>
{% endif %}
{% endblock content %}