{% extends 'base.html' %}
{% load static %}

{% block title %}Posts{% endblock title %}

{% block content %}
<h1 class="lists">Posts</h1>
<ul>
    <div class="row">
        {% for post in post_list %}
        <br>
        <div class="col">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.author }}</h6>
                <p class="card-text">{{ post.body|truncatechars:30 }}</p>
                <a href="{% url 'post_detail' post.id %}" class="card-link">Read More</a>
            </div>
        </div>
        </div>
        <br>
        {% endfor %}
    </div>
</ul>
{% endblock content %}